{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="main-container">
    <div class="image-sec">
        <img src="{% static 'images/image.jpg' %}" alt="">
    </div>
    <div class="sec1">
        <p>His Word For Today</p>
        <p>"{{word.verse_content}}" - {{word.verse}}</p>
    </div>

    <div class="sec2">
        <p>Motivation From His Word</p>
        <p>{{word.motivation}}</p>
    </div>

    <div class="sec3">
        <p>Prayer</p>
        <p>{{word.prayer}}</p>
    </div>

    <div class="footer">
        <div class="sec4">
            <p>Join out Believers Hub to study the word of God together</p>
            <a href="https://chat.whatsapp.com/GSoHZfJlWpQDMdn6TROTu2" target="_blank">
                <i class="fa-brands fa-whatsapp"></i> 
                <span>Group</span>
            </a>
        </div>

        <div class="sec5">
            <p>Follow us on our socials</p>
            <div class="socials">
                <a href="https://www.instagram.com/belovedolorunfemi?igsh=N2cwMmR5anU1MWI3" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@kvngbel?_t=8kwlxYpgPW2&_r=1" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://www.youtube.com/@olorunfemimarvellous" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}